In [2]:
import pandas as pd
!pip install datapackage

/Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

Requirement already satisfied: datapackage in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (1.15.2)
Requirement already satisfied: jsonpointer>=1.10 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from datapackage) (2.1)
Requirement already satisfied: tabulator>=1.29 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from datapackage) (1.53.5)
Requirement already satisfied: requests>=2.8 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from datapackage) (2.25.1)
Requirement already satisfied: chardet>=3.0 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from datapackage) (4.0.0)
Requirement already satisfied: six>=1.10 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from datapackage) (1.16.0)
Requirement already satisfied: unicodecsv>=0.14 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from datapackage) (0.14.1)
Requirement already satisfied: jsonschema>=2.5 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from datapackage) (3.2.0)
Requirement already satisfied: tableschema>=1.12.1 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from datapackage) (1.20.2)
Requirement already satisfied: click>=6.7 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from datapackage) (8.0.1)
Requirement already satisfied: setuptools in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from jsonschema>=2.5->datapackage) (56.0.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from jsonschema>=2.5->datapackage) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from jsonschema>=2.5->datapackage) (0.17.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from requests>=2.8->datapackage) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from requests>=2.8->datapackage) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from requests>=2.8->datapackage) (1.26.5)
Requirement already satisfied: python-dateutil>=2.4 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (2.8.1)
Requirement already satisfied: rfc3986>=1.1.0 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (1.5.0)
Requirement already satisfied: isodate>=0.5.4 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (0.6.0)
Requirement already satisfied: cached-property>=1.5 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (1.5.2)
Requirement already satisfied: sqlalchemy>=0.9.6 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.4.20)
Requirement already satisfied: ijson>=3.0.3 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (3.1.4)
Requirement already satisfied: boto3>=1.9 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.17.111)
Requirement already satisfied: openpyxl>=2.6 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (3.0.7)
Requirement already satisfied: xlrd>=1.0 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (2.0.1)
Requirement already satisfied: jsonlines>=1.1 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (2.0.0)
Requirement already satisfied: linear-tsv>=1.0 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: s3transfer<0.5.0,>=0.4.0 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.4.2)
Requirement already satisfied: botocore<1.21.0,>=1.20.111 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (1.20.111)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.10.0)
Requirement already satisfied: et-xmlfile in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages (from sqlalchemy>=0.9.6->tabulator>=1.29->datapackage) (1.1.0)

In [3]:
import datapackage

In [4]:
data_url = 'https://datahub.io/JohnSnowLabs/country-and-continent-codes-list/datapackage.json'

In [5]:
package = datapackage.Package(data_url)
resources = package.resources
for resource in resources:
    if resource.tabular:
        df_countries = pd.read_csv(resource.descriptor['path'])

In [6]:
df_countries.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0

In [7]:
df = pd.read_excel('data/fulldata_clean.xlsx')

In [8]:
df.head()

,Rank,Country code,Name,Continental region,average_price_usd,Cheapest 1GB for 30 days (USD),most_expensive_usd,average_price_2020,average_price_2019,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,IL,Israel,NEAR EAST,0.053140,0.018189,20.952209,0.11371,0.901251,NaN,NaN,NaN
1,2,KG,Kyrgyzstan,CIS (FORMER USSR),0.150354,0.097288,7.075471,0.207352,0.26912,NaN,NaN,NaN
2,3,FJ,Fiji,OCEANIA,0.193639,0.045384,0.845962,0.588254,3.573233,NaN,NaN,NaN
3,4,IT,Italy,WESTERN EUROPE,0.265624,0.088679,3.537708,0.433544,1.725332,NaN,NaN,NaN
4,5,SD,Sudan,SUB-SAHARAN AFRICA,0.272966,0.034646,0.919291,0.625678,9,NaN,NaN,NaN

In [10]:
df_price = df.merge(df_countries, left_on = 'Country code', right_on = 'Two_Letter_Country_Code')
df_price.head()

,Rank,Country code,Name,Continental region,average_price_usd,Cheapest 1GB for 30 days (USD),most_expensive_usd,average_price_2020,average_price_2019,Unnamed: 9,Unnamed: 10,Unnamed: 11,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,1,IL,Israel,NEAR EAST,0.053140,0.018189,20.952209,0.11371,0.901251,NaN,NaN,NaN,Asia,AS,"Israel, State of",IL,ISR,376.0
1,2,KG,Kyrgyzstan,CIS (FORMER USSR),0.150354,0.097288,7.075471,0.207352,0.26912,NaN,NaN,NaN,Asia,AS,Kyrgyz Republic,KG,KGZ,417.0
2,3,FJ,Fiji,OCEANIA,0.193639,0.045384,0.845962,0.588254,3.573233,NaN,NaN,NaN,Oceania,OC,"Fiji, Republic of the Fiji Islands",FJ,FJI,242.0
3,4,IT,Italy,WESTERN EUROPE,0.265624,0.088679,3.537708,0.433544,1.725332,NaN,NaN,NaN,Europe,EU,"Italy, Italian Republic",IT,ITA,380.0
4,5,SD,Sudan,SUB-SAHARAN AFRICA,0.272966,0.034646,0.919291,0.625678,9,NaN,NaN,NaN,Africa,AF,"Sudan, Republic of",SD,SDN,736.0

In [12]:
df_gdp = pd.read_csv('data/country_gdp_2020.csv')

In [13]:
df_gdp.head()

                       country country_code      2020_gdp  2020_gdp_million
0                        Aruba          ABW           NaN           0.00000
1  Africa Eastern and Southern          AFE  8.980000e+11      898474.00000
2                  Afghanistan          AFG  1.980707e+10       19807.06727
3   Africa Western and Central          AFW  7.870000e+11      786585.00000
4                       Angola          AGO  6.230691e+10       62306.91344

In [14]:
df_price_gdp = df_price.merge(df_gdp, left_on = 'Three_Letter_Country_Code', right_on = 'country_code')

In [15]:
df_price_gdp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 0 to 214
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            215 non-null    int64
 1   Country code                    214 non-null    object
 2   Name                            215 non-null    object
 3   Continental region              215 non-null    object
 4   average_price_usd               215 non-null    float64
 5   Cheapest 1GB for 30 days (USD)  215 non-null    object
 6   most_expensive_usd              215 non-null    object
 7   average_price_2020              215 non-null    object
 8   average_price_2019              215 non-null    object
 9   Unnamed: 9                      0 non-null      float64
 10  Unnamed: 10                     0 non-null      float64
 11  Unnamed: 11                     0 non-null      float64
 12  Continent_Name                  215 non-null    object
 13  Continent_Code                  181 non-null    object
 14  Country_Name                    215 non-null    object
 15  Two_Letter_Country_Code         214 non-null    object
 16  Three_Letter_Country_Code       215 non-null    object
 17  Country_Number                  215 non-null    float64
 18  country                         215 non-null    object
 19  country_code                    215 non-null    object
 20  2020_gdp                        180 non-null    float64
 21  2020_gdp_million                215 non-null    float64
dtypes: float64(7), int64(1), object(14)
memory usage: 38.6+ KB

In [53]:
df_clean = df_price_gdp.drop(['Country code', 'Cheapest 1GB for 30 days (USD)','average_price_2019','most_expensive_usd','Continental region', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Country_Name','Country_Number','country', 'country_code'], axis = 1)

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 0 to 214
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Rank                       215 non-null    int64
 1   Name                       215 non-null    object
 2   average_price_usd          215 non-null    float64
 3   average_price_2020         215 non-null    object
 4   Continent_Name             215 non-null    object
 5   Continent_Code             181 non-null    object
 6   Two_Letter_Country_Code    214 non-null    object
 7   Three_Letter_Country_Code  215 non-null    object
 8   2020_gdp                   180 non-null    float64
 9   2020_gdp_million           215 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 26.6+ KB

In [54]:
df_clean[df_clean['average_price_2020'] == 'NO PACKAGES']

,Rank,Name,average_price_usd,average_price_2020,Continent_Name,Continent_Code,Two_Letter_Country_Code,Three_Letter_Country_Code,2020_gdp,2020_gdp_million
185,195,Tuvalu,6.353958,NO PACKAGES,Oceania,OC,TV,TUV,48855550.2,48.85555

In [56]:
df_clean_again = df_clean.drop(df_clean.index[185])

In [57]:
df_clean_again.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 0 to 214
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Rank                       214 non-null    int64
 1   Name                       214 non-null    object
 2   average_price_usd          214 non-null    float64
 3   average_price_2020         214 non-null    object
 4   Continent_Name             214 non-null    object
 5   Continent_Code             180 non-null    object
 6   Two_Letter_Country_Code    213 non-null    object
 7   Three_Letter_Country_Code  214 non-null    object
 8   2020_gdp                   179 non-null    float64
 9   2020_gdp_million           214 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 18.4+ KB

In [70]:
df_continent = df_clean_again.groupby('Continent_Name').mean('average_price_2020')

In [72]:
df_continent.reset_index()

,Continent_Name,Rank,average_price_usd,2020_gdp,2020_gdp_million
0,Africa,121.200000,5.419086,4.591852e+10,45917.864304
1,Asia,82.840000,2.523433,6.654250e+11,546209.914295
2,Europe,97.711538,2.368169,4.847048e+11,419404.120539
3,North America,148.558824,4.433130,1.005353e+12,710728.905739
4,Oceania,133.000000,4.114466,1.966725e+11,92633.069266
5,South America,96.636364,2.010512,2.529736e+11,253437.010576

In [73]:
df_clean_again.to_csv('price_gdp.csv')