In [1]:
import pandas as pd

/Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_excel('cost_1gb_data.xlsx')

In [28]:
df.tail(20)

     Rank                   Country  Avg Price of 1GB (USD)
135   136                    Panama                    6.69
136   137            Czech Republic                    7.95
137   138             United States                    8.00
138   139  Central African Republic                    8.25
139   140               Switzerland                    8.38
140   141                Madagascar                    8.81
141   142               Puerto Rico                    9.17
142   143               South Korea                   10.94
143   144              Turkmenistan                   11.44
144   145                    Greece                   12.06
145   146                    Canada                   12.55
146   147         Equatorial Guinea                   12.78
147   148                  Eswatini                   13.31
148   149                      Cuba                   13.33
149   150                    Cyprus                   13.56
150   151                  Botswana                   13.87
151   152                     Yemen                   15.98
152   153                      Chad                   23.33
153   154                     Benin                   27.22
154   155                    Malawi                   27.41

In [5]:
df.describe()

             Rank  Avg Price of 1GB (USD)
count  155.000000              155.000000
mean    78.000000                3.748452
std     44.888751                4.500110
min      1.000000                0.090000
25%     39.500000                1.050000
50%     78.000000                2.220000
75%    116.500000                4.540000
max    155.000000               27.410000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    155 non-null    int64
 1   Country                 155 non-null    object
 2   Avg Price of 1GB (USD)  155 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.8+ KB

In [29]:
df = df.sort_values(['Avg Price of 1GB (USD)'])

In [30]:
df_top = df.head(10)

In [31]:
df_tail = df.tail(10)

In [33]:
df[df['Country'] == 'United States']

     Rank        Country  Avg Price of 1GB (USD)
137   138  United States                     8.0