In [4]:
import pandas as pd

/Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [5]:
df = pd.read_excel('data/fulldata.xlsx')

In [6]:
df.head()

   Rank     Country  Avg Price of 1GB (USD)
0     1       India                    0.09
1     2      Israel                    0.11
2     3  Kyrgyzstan                    0.21
3     4       Italy                    0.43
4     5     Ukraine                    0.46

In [5]:
df.describe()

             Rank  Avg Price of 1GB (USD)
count  155.000000              155.000000
mean    78.000000                3.748452
std     44.888751                4.500110
min      1.000000                0.090000
25%     39.500000                1.050000
50%     78.000000                2.220000
75%    116.500000                4.540000
max    155.000000               27.410000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    155 non-null    int64
 1   Country                 155 non-null    object
 2   Avg Price of 1GB (USD)  155 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.8+ KB

In [29]:
df = df.sort_values(['Avg Price of 1GB (USD)'])

In [30]:
df_top = df.head(10)

In [31]:
df_tail = df.tail(10)

In [33]:
df[df['Country'] == 'United States']

     Rank        Country  Avg Price of 1GB (USD)
137   138  United States                     8.0